<html>
<body>
{% if message != null %}
<li>{{ message }}</li>
{% endif %}
<form action="" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Submit</button>
    </p>
</form>
<hr>
<ul>
    <li><a href="{{ path('acme_timestampbundle_index') }}">DateType＋single_text</a></li>
    <li><a href="{{ path('acme_timestampbundle_regex') }}">DateType＋single_text＋パターンマッチング</a></li>
    <li><a href="{{ path('acme_timestampbundle_constraint') }}">TextType＋Constraint</a></li>
</ul>
</body>
</html>
